.container {
    display: grid;
    grid-template-columns: 120px 100px 80px;
    grid-template-rows: 60px 100px 100px;
    grid-template-areas:
        "Header Nav Nav"
        "Header Produtos Servicos"
        "Aside Produtos Footer"
    ;

    row-gap: 10px;
    column-gap: 10px;
}

.Nav {
    background-color: blue;
    grid-area: Nav;
    border-radius: 10px;
}

.Header {
    background-color: rgb(17, 185, 107);
    grid-area: Header;
    border-radius: 10px;
}

.Produtos {
    background-color: rgb(170, 194, 35);
    grid-area: Produtos;
    border-radius: 10px;
}

.Servicos {
    background-color: rgb(0, 183, 255);
    grid-area: Servicos;
    border-radius: 10px;
}

.Aside {
    background-color: rgb(255, 0, 170);
    grid-area: Aside;
    border-radius: 10px;
}

.Footer {
    background-color: rgb(255, 0, 55);
    grid-area: Footer;
    border-radius: 10px;
}