header{
    background-color: #E3112B;
}

nav{
    background-color: #F68D30;
}

section{
    background-color: #FFBF04;
}

article{
    background-color: #7DBF43;
}

aside{
    background-color: #0189DC;
}

footer{
    background-color: #922B8C;
}